@import url('https://fonts.googleapis.com/css2?family=Festive&family=Otomanopee+One&display=swap');

$color-rose: rgb(230, 82, 134);
$color-grey: rgb(82, 82, 82);
$color-bg: rgb(253, 253, 253);
$font-bold: 'Otomanopee One', sans-serif;
$font-italic: 'Festive', cursive;